<fragment>
                <div class="col-md-5 col-md-offset-1 aside">
                    <h3>You are purchasing:</h3>
                    <input type="hidden" id="report_price_input" value="0"/>
                    <p>1 x <span class="report_type">Building &amp; Timber Pest Inspection Report</span> @ <span class="report_price">$99</span></p>
                    <p>for the address:</p>
                    <p><span class="report_address">1/24 Lovermore St. Sydney NSW</span></p>
                    <p class="report_is_open_text">Note this is an Open Access report subject to a Buyer Request Fee of <span class="report_price">$99</span> (<a href="#">Learn more ...</a>)</p>
                    <p><a href="#" class="btn btn-default" data-toggle="modal" data-target="#order_review">WAIT!! This is not what I wanted</a></p>
                </div>
                
                <div id="order_review" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form id="search_form" action="#" method="POST">
                                <div class="modal-body">
                                    <br />
                                    <p>What would you like to do:</p>
                                    <p><input data-url="" type="radio" name="order_review_select" id="ors_1" value="1"/><label for="ors_1"> Go back to the page for <span class="report_address">1/24 Lovermore St. Sydney NSW</span> to change my selection</label></p>
                                    <p><input data-url="" type="radio" name="order_review_select" id="ors_2" value="2"/><label for="ors_2"> Go back to the page for <span class="suburb">Sydney</span> to find a different property</label></p>
                                    <p><input type="radio" name="order_review_select" id="ors_3" value="3"/><label for="ors_3"> Search for a report on a different property</label></p>
                                    <p class="ors_search"><input id="search_input" name="search_input" type="text" /><input type="submit" class="btn btn-default"/></p>
                                    <p><input data-url="" type="radio" name="order_review_select" id="ors_4" value="4"/><label for="ors_4"> Request an inspection on a different property</label></p>
                                </div>
                                <div class="modal-footer">
                                    <p>
                                    	<a href="#" class="confirm-selection-btn btn btn-default pull-left">Confirm selection</a>
                                    	<a href="#" class="pull-right" data-dismiss="modal">Go back</a>
                                   	</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
</fragment>
