/*********** BASE ***********/
*
{
	font-size: 16px;
}
html,
body
{
	background: #eef2f6;
}
.container
{
	width: 1000px;
	margin: 30px auto;
	padding: 30px;
	background: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
/*********** FONTS ***********/
@font-face 
{
    font-family: 'ss_bold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face 
{
    font-family: 'ss_regular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h3,
h3 span
{
	font-size: 26px;
	color: #52bad5;
}
h4
{
	font-size: 16px;
	color: #565656;
}
/*********** TYPOGRAPHY ***********/
p,
h5,
h6
{
	font-family: 'ss_regular', arial, sans-serif;
	font-weight: normal;
	margin: 5px 0 10px 0;
}
h1,
h2,
h3,
h4
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
	margin: 5px 0 15px 0;
}
p
{
	font-size: 16px;
	line-height: 24px;
	color: #565656;
}
a,
a:visited
{
	text-decoration: none;
	color: #52bad5;
}
a:hover
{
	text-decoration: none;
	color: #2494b1;
}
strong
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
}
/*********** BUTTONS/FORMS ***********/
.btn,
.btn:visited,
.btn:hover
{
	padding: 14px 30px 12px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 10px 5px 0;
}
.btn-default,
.btn-default:visited
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	background: #52bad5 !important;
	border: none;
}
.btn-default:hover
{
	color: #ffffff;
	background: #2494b1;
}
.btn-primary,
.btn-primary:visited
{
	padding: 12px 26px 10px;
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #52bad5;
	background: #ffffff;
	border: 2px solid #52bad5;
}
.btn-primary:hover
{
	padding: 12px 26px 10px;
	color: #2c9fbd;
	border: 2px solid #2c9fbd;
	background: #ffffff;
}
.btn-link,
.btn-link:visited
{
	padding: 14px 26px 12px;
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #52bad5;
	background: #ffffff;
	border: none;
}
.btn-link:hover
{
	padding: 12px 26px 10px;
	color: #2c9fbd;
	border: none;
	background: #ffffff;
}
label
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	font-weight: normal;
	padding: 5px 0;
}
label input
{
	vertical-align: middle;
	margin: -4px 5px 0 0 !important;
}
input[type="radio"], 
input[type="checkbox"]
{
	width: 23px;
	height: 23px;
	position: relative;
	vertical-align: middle;
	margin: -2px 10px 0 0;
}
input[type="radio"]:after
{
	content: url("images/untoggled.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="radio"]:checked:after
{
	content: url("images/toggled.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="checkbox"]:after
{
	content: url("images/unchecked.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="checkbox"]:checked:after
{
	content: url("images/checked.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input,
.form-control
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	padding: 10px 15px 8px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #e6ebf1;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 5px 0;
	height: auto;
}
.form-control:-moz-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control::-moz-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control:-ms-input-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control::-webkit-input-placeholder
{
	color: #565656;
	padding-top: 3px;
}
select
{
	padding: 12px 15px 9px !important;
	position: relative;
	background: url("images/dropdown.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: right 50% !important;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
select:focus
{
	border: 2px solid #52bad5 !important;
	background: url("images/dropdown_active.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: right 50% !important;
}
input:focus,
.form-control:focus
{
	border: 2px solid #dce0e4;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tooltip-inner
{
	width: 350px;
	max-width: 400px;
	padding: 15px;
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #0d1a3c;
}
.tooltip.top .tooltip-arrow 
{
	border-top-color: #0d1a3c;
}
/*********** ALERTS ***********/
.alert-info
{
	background: #e4f6fa;
	border: 1px solid #52bad5;
}
.alert-info p
{
	color: #2494b1;
}
.alert-danger
{
	background: #ffe4dd;
	border: 1px solid #e33000;
}
.alert-danger p
{
	color: #e33000;
}
.alert a,
.alert a:visited,
.alert a:hover
{
	font-family: 'ss_bold', arial, sans-serif;
}
/*********** MODALS ***********/
.modal-dialog
{
	width: 700px;
}
.modal-header h3
{
	font-size: 22px;
	color: #52bad5;
}
.modal-header
{
	padding: 25px 30px 0;
	border-bottom: none;
}
.modal-body
{
	padding: 15px 30px;
}
.modal-footer
{
	margin: 10px 30px;
	padding: 15px 0;
}
.modal-footer .btn
{
	position: relative;
	top: -6px;
	margin-left: 25px;
}
/*********** STEP 2 ***********/
#hint
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	display: block;
	margin: 15px 0;
}
p.reset_password_wrapper
{
	padding: 15px 0 0 0;
}
p.reset_password_wrapper img
{
	margin: -3px 0 0 5px;
}
.error_report 
{
	color: #e33000;
}
/*********** widget ***********/
.ors_search
{
	display: none;
}
.ors_search input
{
	margin: 0 15px 0 0;
}
/*********** step 5 ***********/
.ic_screen_3
{
	display: none;
}
/*********** INTERACTION REQUIRED STYLES ***********/
#property_size_container
{
	display: none;
}
#confirm_email,
#email_validated
{
	display: none;
}
#email_validated_btn:hover
{
	cursor: pointer;
}
.ui-accordion .ui-accordion-header.agent_details,
.ui-accordion .ui-accordion-header.vendor_details,
.agent_details,
.vendor_details
{
	display: none;
}
/* credit card validation */
.invalid
{
	border: 2px solid #e33000;
}
.validation.failed:after
{
	content: 'Validation failed';
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
	color: #e33000;
}
.error 
{
	border-style: solid;
	border-color: #e33000;
	border-width: 2px;
}
.disabled_link 
{
	display: none;
}
