<fragment>
                <div class="col-md-5 col-md-offset-1 aside">
                    <form class="form-horizontal" action="#" method="POST">
                        <h3>Booking</h3>
                        <div id="inspection_type_select" class="form-group col-md-12">
                        	<label><input type="radio" name="service_type" id="inspection_type_2" value="220" checked="checked" /> Strata Report</label>
                        	<br />
                            <label><input type="radio" name="service_type" id="inspection_type_1" value="0" /> Building &amp; Pest Report</label>
                        </div>
                        <div id="property_size_container" class="form-group col-md-12">
                        	<h4>For a property with:</h4>
                            <div>
                                <select name="property_size" id="property_size" class="form-control">
                                    <option value="399">Up to 3 bedrooms</option>
                                    <option selected="" value="449">4 bedrooms</option>
                                    <option value="499">5 bedrooms</option>
                                </select>
                            </div>
                        </div>
                        <div id="widget_call_btn" class="col-md-12">
                        	<p><h4>Contact EYEON at <a href="mailto:info@eyeon.com.au">info@eyeon.com.au</a> or call <a href="tel:1300798274">1300 798 274</a></h4></p>
                        </div>
                        <div id="total_field" class="col-md-12">
                        	<label for="total_field" class="col-sm-6">Total:</label>
                            <div class="col-sm-6"><input type="text" value="" name="total_cost" class="total_cost" disabled="" /></div>
                        </div>
                    </form>
                </div>
</fragment>
