/*********** BASE ***********/
*
{
	font-size: 16px;
}
html,
body
{
	background: #eef2f6;
}
.container
{
	width: 1000px;
	margin: 30px auto;
	padding: 30px;
	background: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.header
{
	width: 1000px;
	margin: 30px auto;
	padding: 30px;
	background: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.header .logo
{
	padding-right: 50px;
}
/*********** FONTS ***********/
@font-face 
{
    font-family: 'ss_bold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face 
{
    font-family: 'ss_regular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h3,
h3 span
{
	font-size: 26px;
	color: #52bad5;
}
h4
{
	font-size: 16px;
	color: #565656;
}
/*********** TYPOGRAPHY ***********/
p,
h5,
h6
{
	font-family: 'ss_regular', arial, sans-serif;
	font-weight: normal;
	margin: 5px 0 10px 0;
}
h1,
h2,
h3,
h4
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
	margin: 5px 0 15px 0;
}
p
{
	font-size: 16px;
	line-height: 24px;
	color: #565656;
}
a,
a:visited
{
	text-decoration: none;
	color: #52bad5;
}
a:hover
{
	text-decoration: none;
	color: #2494b1;
}
strong
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
}
/*********** BUTTONS/FORMS ***********/
.btn,
.btn:visited,
.btn:hover
{
	padding: 14px 30px 12px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 10px 5px 0;
}
.btn-default,
.btn-default:visited
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	background: #52bad5 !important;
	border: none;
}
.btn-default:hover
{
	color: #ffffff;
	background: #2494b1;
}
.btn-primary,
.btn-primary:visited
{
	padding: 12px 26px 10px;
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #52bad5;
	background: #ffffff;
	border: 2px solid #52bad5;
}
.btn-primary:hover
{
	padding: 12px 26px 10px;
	color: #2c9fbd;
	border: 2px solid #2c9fbd;
	background: #ffffff;
}
.btn-link,
.btn-link:visited
{
	padding: 14px 26px 12px;
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #52bad5;
	background: #ffffff;
	border: none;
}
.btn-link:hover
{
	padding: 12px 26px 10px;
	color: #2c9fbd;
	border: none;
	background: #ffffff;
}
label
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	font-weight: normal;
	padding: 5px 0;
}
label input
{
	vertical-align: middle;
	margin: -4px 5px 0 0 !important;
}
input[type="radio"], 
input[type="checkbox"]
{
	width: 23px;
	height: 23px;
	position: relative;
	vertical-align: middle;
	margin: -2px 10px 0 0;
}
input[type="radio"]:after
{
	content: url("images/untoggled.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="radio"]:checked:after
{
	content: url("images/toggled.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="checkbox"]:after
{
	content: url("images/unchecked.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="checkbox"]:checked:after
{
	content: url("images/checked.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input,
.form-control
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	padding: 10px 15px 8px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #e6ebf1;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 5px 0;
	height: auto;
}
.form-control:-moz-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control::-moz-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control:-ms-input-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control::-webkit-input-placeholder
{
	color: #565656;
	padding-top: 3px;
}
select
{
	padding: 12px 15px 9px !important;
	position: relative;
	background: url("images/dropdown.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: right 50% !important;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
select:focus
{
	border: 2px solid #52bad5 !important;
	background: url("images/dropdown_active.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: right 50% !important;
}
input:focus,
.form-control:focus
{
	border: 2px solid #dce0e4;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tooltip-inner
{
	width: 350px;
	max-width: 400px;
	padding: 15px;
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #0d1a3c;
}
.tooltip.top .tooltip-arrow 
{
	border-top-color: #0d1a3c;
}
/*********** ALERTS ***********/
.alert-info
{
	background: #e4f6fa;
	border: 1px solid #52bad5;
}
.alert-info p
{
	color: #2494b1;
}
.alert-danger
{
	background: #ffe4dd;
	border: 1px solid #e33000;
}
.alert-danger p
{
	color: #e33000;
}
.alert a,
.alert a:visited,
.alert a:hover
{
	font-family: 'ss_bold', arial, sans-serif;
}
/*********** MODALS ***********/
.modal-dialog
{
	width: 700px;
}
.modal-header h3
{
	font-size: 22px;
	color: #52bad5;
}
.modal-header
{
	padding: 25px 30px 0;
	border-bottom: none;
}
.modal-body
{
	padding: 15px 30px;
}
.modal-footer
{
	margin: 10px 30px;
	padding: 15px 0;
}
.modal-footer .btn
{
	position: relative;
	top: -6px;
	margin-left: 25px;
}
/*********** ASIDE ***********/
.aside
{
	background: url("images/aside_bg.jpg") no-repeat;
	background-position: left 50%;
}
.aside form
{
	padding: 0 0 0 25px;
	min-height: 300px;
}
.aside h3
{
	color: #565656;
}
.aside #aside_billing_container
{
	margin-bottom: 25px;
}
.aside .change_email
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
}
/*********** STEP 1 ***********/
#inspection_type_select label
{
	font-family: 'ss_regular', arial, sans-serif;
}
#total_field
{
	background: #f2f4f7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}
#total_field label
{
	font-family: 'ss_bold', arial, sans-serif;
	padding: 16px 0 0 5px;
}
#total_field .total_cost[disabled]
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color: #52bad5;
	background-color: transparent;
	border: none;
	text-align: right;
	padding: 5px 0 5px 5px;
	width: 100%;
}
#book_now_btn_inactive,
#book_now_btn_inactive:visited,
#book_now_btn_inactive:hover
{
	text-transform: none;
	color: #565656;
	background: #f2f4f7;
	border: none;
}
/*********** STEP 2 ***********/
#hint
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	display: block;
	margin: 15px 0;
}
p.reset_password_wrapper
{
	padding: 15px 0 0 0;
}
p.reset_password_wrapper img
{
	margin: -3px 0 0 5px;
}
/*********** STEP 4 ***********/
p.postcode_hint_wrapper
{
	padding: 15px 0 0 0;
}
p.postcode_hint_wrapper img
{
	margin: -3px 0 0 5px;
}
.error_report 
{
	color: #e33000;
}
/*********** STEP 5 ***********/
#calendar
{
	margin: -45px 0 0 0;
}
.fc-header 
{
	width: auto !important;
	float: right;
	margin: 5px 0 10px 0;
}
.fc-button
{
	color: #ffffff;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 24px !important;
	border-radius: 12px;
	background: #52bad5;
	border: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.fc-button:hover
{
	background: #2494b1;
}
.fc-text-arrow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal !important;
}
.fc-header-title h2
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 26px;
	line-height: 26px;
	color: #565656;
}
.fc-day-header
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	color: #c4c4c4;
	font-weight: normal;
	background: #f2f4f7;
	padding: 15px 0 !important;
	border-left: 1px solid #e3e5e7 !important;
	border-right: 1px solid #e3e5e7 !important;
}
.fc-past,
.striken_off
{
	background: url("images/calendar_stricken.jpg") repeat;
}
.fc-event
{
	padding: 0;
	margin: 2px 0;
	border: none !important;
}
.fc-event-inner
{
	background: #52bad5;
	padding: 2px;
}
.fc-event-time,
.fc-event-title
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
}
.fc-day-number
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #565656;
	margin: 20px 15px 0 0;
}
.fc-today
{
	background: #ffffff !important;
}
.fc-state-highlight
{
	background: #52bad5;
}
.fc-state-highlight .fc-day-number
{
	color: #ffffff;
}
.fc-today .fc-day-number
{
	color: #52bad5;
}
.time_select label
{
	font-family: 'ss_regular', arial, sans-serif;
	font-weight: normal;
}
/*********** STEP 6 ***********/
#accordion
{
	margin: 20px 0 10px 0;
}
#accordion .form-group
{
	overflow: auto;
	clear: both;
	margin: 10px 0 15px;
}
#accordion h3
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	font-weight: normal;
	background: #f2f4f7;
	padding: 17px 20px 15px;
	margin: 10px 0;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	border: none;
}
#accordion h3.ui-state-active
{
	background: #d7edf3;
}
#accordion h3.ui-state-hover
{
	background: #badde6;
}
#accordion h3 strong
{
	color: #52bad5 !important;
	margin: 0 5px 0 0;
}
#accordion h3 span.ui-icon
{
	display: none;
}
#accordion .ui-accordion-content 
{
	background: none;
	border: none;
	padding: 20px 0 0;
	margin: 0 -10px;
}
#client_type_div label
{
	font-family: 'ss_regular', arial, sans-serif;
	margin: 0 0 0 13px;
}
#accordion .ui-widget-content a,
#accordion .ui-widget-content a:visited
{
	color: #52bad5;
}
#accordion .ui-widget-content a:hover
{
	color: #2494b1;
}
.booking_information label
{
	padding-top: 20px;
}
/*********** STEP 7 ***********/
#review_order .action_bar
{
	padding: 20px 0 10px 0;
	border-top: 1px solid #e6ebf1;
}
#review_order .review_block
{
	padding-top: 15px;
	paddinb-bottom: 15px;
}
#review_order .review_block .col-md-6 p
{
	font-family: 'ss_bold', arial, sans-serif;
	color: #565656;
}
/*********** INTERACTION REQUIRED STYLES ***********/
#property_size_container
{
	display: none;
}
#email_validated_btn:hover
{
	cursor: pointer;
}
.ui-accordion .ui-accordion-header.agent_details,
.ui-accordion .ui-accordion-header.vendor_details,
.agent_details,
.vendor_details
{
	display: none;
}
/* credit card validation */
.invalid
{
	border: 2px solid #e33000;
}
.validation.failed:after
{
	content: 'Validation failed';
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
	color: #e33000;
}
.error 
{
	border-style: solid;
	border-color: #e33000;
	border-width: 2px;
}
.disabled_link 
{
	display: none;
}
