/*********** BASE ***********/
*
{
	font-size: 16px;
}
html,
body
{
	background: #eef2f6;
}
.container
{
	width: 1000px;
	margin: 70px auto 30px;
	padding: 0 30px 30px 30px;
	background: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.container_table
{
	width: 1000px;
	margin: 70px auto 30px;
	padding: 0 0 30px 0;
	background: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.main
{
	position: relative;
}
/*********** FONTS ***********/
@font-face 
{
    font-family: 'ss_bold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face 
{
    font-family: 'ss_regular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h3,
h3 span
{
	font-size: 26px;
	color: #52bad5;
}
h4
{
	font-size: 16px;
	color: #565656;
}
/*********** TYPOGRAPHY ***********/
p,
h5,
h6
{
	font-family: 'ss_regular', arial, sans-serif;
	font-weight: normal;
	margin: 5px 0 10px 0;
}
h1,
h2,
h3,
h4
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
	margin: 5px 0 15px 0;
}
p
{
	font-size: 16px;
	line-height: 24px;
	color: #565656;
}
a,
a:visited
{
	text-decoration: none;
	color: #52bad5;
}
a:hover
{
	text-decoration: none;
	color: #2494b1;
}
strong
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
}
/*********** BUTTONS/FORMS ***********/
.btn,
.btn:visited,
.btn:hover
{
	padding: 14px 30px 12px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 10px 5px 0;
}
.btn-default,
.btn-default:visited
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	background: #52bad5;
	border: none;
}
.btn-default:hover
{
	color: #ffffff;
	background: #2494b1;
}
.btn-primary,
.btn-primary:visited
{
	padding: 12px 26px 10px;
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #52bad5;
	background: #ffffff;
	border: 2px solid #52bad5;
}
.btn-primary:hover
{
	padding: 12px 26px 10px;
	color: #2c9fbd;
	border: 2px solid #2c9fbd;
	background: #ffffff;
}
.btn-link,
.btn-link:visited
{
	padding: 14px 26px 12px;
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: normal;
	color: #52bad5;
	background: #ffffff;
	border: none;
}
.btn-link:hover
{
	padding: 12px 26px 10px;
	color: #2c9fbd;
	border: none;
	background: #ffffff;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active
{
	-webkit-box-shadow: none;
	box-shadow: none;
}
label
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	font-weight: normal;
	padding: 5px 0;
}
label input
{
	vertical-align: middle;
	margin: -4px 5px 0 0 !important;
}
input[type="radio"], 
input[type="checkbox"]
{
	width: 23px;
	height: 23px;
	position: relative;
	vertical-align: middle;
	margin: -2px 10px 0 0;
}
input[type="radio"]:after
{
	content: url("images/untoggled.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="radio"]:checked:after
{
	content: url("images/toggled.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="checkbox"]:after
{
	content: url("images/unchecked.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input[type="checkbox"]:checked:after
{
	content: url("images/checked.jpg");
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
input,
.form-control
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	padding: 10px 15px 8px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #e6ebf1;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 5px 0;
	height: auto;
}
.form-control:-moz-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control::-moz-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control:-ms-input-placeholder
{
	color: #565656;
	padding-top: 3px;
}
.form-control::-webkit-input-placeholder
{
	color: #565656;
	padding-top: 3px;
}
select
{
	padding: 12px 15px 9px !important;
	position: relative;
	background: url("images/dropdown.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: right 50% !important;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
select:focus
{
	border: 2px solid #52bad5 !important;
	background: url("images/dropdown_active.jpg") !important;
	background-repeat: no-repeat !important;
	background-position: right 50% !important;
}
input:focus,
.form-control:focus
{
	border: 2px solid #dce0e4;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tooltip-inner
{
	width: 350px;
	max-width: 400px;
	padding: 15px;
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #0d1a3c;
}
.tooltip.top .tooltip-arrow 
{
	border-top-color: #0d1a3c;
}
/*********** ALERTS ***********/
.alert-info
{
	background: #e4f6fa;
	border: 1px solid #52bad5;
}
.alert-info p
{
	color: #2494b1;
}
.alert-danger
{
	background: #ffe4dd;
	border: 1px solid #e33000;
}
.alert-danger p
{
	color: #e33000;
}
.alert a,
.alert a:visited,
.alert a:hover
{
	font-family: 'ss_bold', arial, sans-serif;
}
/*********** MODALS ***********/
.modal-dialog
{
	width: 700px;
}
.modal-header h3
{
	font-size: 22px;
	color: #52bad5;
}
.modal-header
{
	padding: 25px 30px 0;
	border-bottom: none;
}
.modal-body
{
	padding: 15px 30px;
}
.modal-footer
{
	margin: 10px 30px;
	padding: 15px 0;
}
.modal-footer .btn
{
	position: relative;
	top: -6px;
	margin-left: 25px;
}
/*********** ASIDE ***********/
.aside
{
	background: url("images/aside_bg.jpg") no-repeat;
	background-position: left 50%;
}
.aside form
{
	padding: 0 0 0 25px;
	min-height: 300px;
}
.aside h3
{
	color: #565656;
}
.aside #aside_billing_container
{
	margin-bottom: 25px;
}
.aside .change_email
{
	font-family: 'ss_bold', arial, sans-serif;
	font-weight: normal;
}
/*********** STEP 1 ***********/
.admin_login label
{
	display: block;
	padding-top: 20px;
	text-align: right;
}
/*********** STEP 2 ***********/
.nav-tabs
{
	border-bottom: none;
}
ul.nav
{
	margin: -43px 30px 0 30px;
}
ul.nav li
{
	position: relative;
	z-index: 9;
	margin: 0 10px 0;
	height: 43px;
}
ul.nav li:before
{
	content: url("images/inactive_left.png");
	position: absolute;
	top: 0;
	left: -20px;
	height: 43px;
}
ul.nav li:after
{
	content: url("images/inactive_right.png");
	position: absolute;
	top: 0;
	right: -19px;
	height: 43px;
}
ul.nav li:hover,
ul.nav li.active:hover
{
	opacity: 0.8;
	cursor: pointer !important;
}
ul.nav li.active
{
	position: relative;
	z-index: 99;
}
ul.nav li.active:before
{
	content: url("images/active_left.png");
	position: absolute;
	top: 0;
	left: -20px;
	height: 43px;
}
ul.nav li.active:after
{
	content: url("images/active_right.png");
	position: absolute;
	top: 0;
	right: -19px;
	height: 43px;
}
ul.nav li a,
ul.nav li a:visited,
ul.nav li a:hover,
ul.nav li.active a,
ul.nav li.active a:visited,
ul.nav li.active a:hover
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 16px;
	color: #565656;
	text-transform: uppercase;
	text-align: center;
	border: none;
}
ul.nav li a,
ul.nav li a:visited,
ul.nav li a:hover
{
	background: #dde5ed;
}
ul.nav li.active a,
ul.nav li.active a:visited,
ul.nav li.active a:hover
{
	background: #ffffff;
}
.nav > li > a 
{
	padding: 12px 15px 9px;
}
.table > thead > tr > th 
{
	vertical-align: top;
	border: none !important;
}
.table thead
{
	border-bottom: 2px solid #e6ebf1;
}
.table tr,
.table td
{
	border: none !important;
}
.table tr.even
{
	background: #f6f9fc;
}
#bp_past_prices,
#bp_past_prices_detail
{
	display: none;
}
#bp_past_prices_detail table tr td:last-child
{
	text-align: right;
}
.inspector_actions_edit
{
	display: none;
	background: #fff;
	border: 2px solid #e6ebf1;
	position: absolute;
	left: 30px;
	top: -5px;
	padding: 8px 8px 7px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.inspector_actions_edit:after 
{
	content: url("images/actions.png");
	position: absolute;
	top: 9px;
	right: -9px;
	z-index: 99;
}
.inspector_actions_edit .btn,
.inspector_actions_edit .btn:visited
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #52bad5;
	padding: 0 5px !important;
	text-transform: none;
}
.inspector_actions_edit .btn:hover
{
	color: #2494b1;
	text-decoration: none;
}
.inspector_actions_edit .btn:first-child
{
	border-right: 1px solid #e6ebf1;
}
#inspectors table tr.deleted
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	text-decoration: line-through;
}
#inspectors table tr.editing
{
}
#inspector_actions_editing
{
	display: none;
}
.inspector_actions_active
{
	position: relative;
	overflow: visible !important;
}
.inspector_actions_deleted
{
	display: none;
}
#inspectors table tr.deleted .inspector_actions_deleted
{
	display: block;
}
#inspectors table tr.deleted .inspector_actions_active
{
	display: none;
}
#inspectors table th,
#inspectors table td
{
	min-width: 180px;
	max-width: 200px;
	overflow: auto;
	padding: 15px 10px 12px 10px;
}
.table tbody tr:first-child .btn:last-child, 
.table tbody tr:first-child .btn-default:last-child
{
	padding: 5px 5px 5px 2px;
}
.custom_select_label
{
	background: url("images/dropdown.jpg") no-repeat;
	background-position: right 50%;
	overflow: auto;
	margin-bottom: 0;
	position: relative;
	height: 43px;
	padding: 13px 15px 8px;
}
#inspector_postcode
{
	background-image: none !important;
	background-color: #ffffff !important;
}
#inspector_type,
#postcode_dropdown
{
	background-image: none !important;
	background: #ffffff !important;
	position: fixed;
	display: none;
	width: 222px;
	z-index: 999;
}
.table
{
	font-family: 'ss_regular', arial, sans-serif;
	font-size: 16px;
	margin-bottom: 0;
}
.table td:first-child,
.inspector_name
{
	padding-left: 25px !important;
}
.table td:last-child,
.inspector_actions
{
	padding-right: 25px !important;
}
.table thead .btn
{
	font-family: 'ss_regular', arial, sans-serif;
	font-weight: normal;
	padding: 13px;
	margin-right: 0;
}
.table tbody tr .btn,
.table tbody tr .btn-default
{
	background-color: transparent;
	border: none;
	padding: 5px;
	margin: 0;
}
.table tbody tr .btn .glyphicon,
.undo_delete_inspector .glyphicon
{
	color: #c0c0c0 !important;
}
.table tbody tr .btn .glyphicon:hover,
.undo_delete_inspector .glyphicon:hover
{
	color: #52bad5 !important;
}
#inspector_list tr th:last-child,
#inspector_list tr td:last-child
{
	text-align: right;
	overflow: visible !important;
}
.dataTables_paginate
{
	padding: 5px 25px 0;
}
.paginate_active,
.paginate_button
{
	display: inline-block;
	padding: 6px 8px 0;
	margin-bottom: 0;
	margin-left: 5px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.paginate_button:hover,
.paginate_active
{
	font-family: 'ss_bold', arial, sans-serif;
	color: #565656 !important;
	background-color: #ffffff;
}
.paginate_button
{
	font-family: 'ss_bold', arial, sans-serif;
	background: #ffffff;
}
.dataTables_info,
.first.paginate_button,
.previous.paginate_button,
.next.paginate_button,
.last.paginate_button
{
	display: none;
}
#bp_current_prices table tr th:last-child,
#bp_current_prices table tr td:last-child
{
	text-align: right;
}
#accordion
{
	margin: 20px 0 10px 0;
}
#accordion .form-group
{
	overflow: auto;
	clear: both;
	margin: 10px 0 15px;
}

#accordion h3
{
	font-family: 'ss_bold', arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #565656;
	font-weight: normal;
	background: #f2f4f7;
	padding: 17px 20px 15px;
	margin: 10px 25px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	border: none;
}

#accordion h3.ui-state-active
{
	background: #d7edf3;
}
#accordion h3.ui-state-hover
{
	background: #badde6;
}
#accordion h3 strong
{
	color: #52bad5 !important;
	margin: 0 5px 0 0;
}
#accordion h3 span.ui-icon
{
	display: none;
}
#accordion .ui-accordion-content 
{
	background: none;
	border: none;
	padding: 20px 0 0;
	margin: 0;
	height: auto !important;
}
/*
#accordion .ui-widget-content a,
#accordion .ui-widget-content a:visited
{
	color: #52bad5;
}
#accordion .ui-widget-content a:hover
{
	color: #2494b1;
}
*/
.booking_information label
{
	padding-top: 20px;
}
.price_set
{
	padding-top: 20px;
}
.table thead th:first-child
{
	padding-left: 27px;
}
.table thead th:last-child
{
	padding-right: 27px;
}
.prices_table_actions
{
	border-top: 2px solid #e6ebf1;
	padding: 10px 10px 0;
	overflow: auto;
}
#bp_add_row,
#bp_add_row:visited,
#bp_add_row:hover,
.prices_table_actions .btn,
.prices_table_actions .btn:visited,
.prices_table_actions .btn:hover
{
	color: #ffffff !important;
}
/*********** INTERACTION REQUIRED STYLES ***********/
#confirm_email,
#email_validated
{
	display: none;
}
#email_validated_btn:hover
{
	cursor: pointer;
}
.invalid
{
	border: 2px solid #e33000;
}
.error 
{
	border-style: solid;
	border-color: #e33000;
	border-width: 2px;
}
